@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
    opacity: 70%;
}

h3 {
    text-shadow: .1rem .1rem .8rem black;
}

.fa {
    font-size: 40px;
    width: 57px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    text-shadow: .1rem .1rem .8rem black;
}

.mainbar {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: auto;
}

.caption {
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
}

.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 40%;
}

.botnavtext {
    font-size: 12px;
}
