@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');


body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #fafafa;
}

.largetext {
    font-size: 7vw;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-align: center;
    margin-bottom: 0;
    opacity: 70%;
}

.largetext2 {
    font-size: 4vw;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-align: center;
    margin-bottom: 0;
    opacity: 70%;
}

.smalltext {
    font-size: 1em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 70%;
}

.highlight {
    opacity: 55%;
}

.threerow {
    font-size: 3rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    line-height: 90%;
    max-width: 100%;
    opacity: 55%;
}

.tworow {
    font-size: 2em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    line-height: 90%;
    max-width:100%;
    opacity: 70%;
    margin-top: 5px;
}

hr {
    border: 0.3vw solid black;
    width: 90%;
    border-radius: 25px;
}

.longer {
    border: 0.3vw solid black;
    width: 100%;
    border-radius: 25px;
}

h3 {
    text-shadow: .1rem .1rem .8rem black;
}


.fa {
    font-size: 40px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color:black;
    opacity: 70%;
}

.mainbar {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: auto;
}

.caption {
    position: absolute;
    top: 40%;
    width: 100%;
    color: white;
}

.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    opacity: 40%;
}

.botnavtext {
    font-size: 12px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    border: 1px solid white;
    background-color: white;
    width: 350px;
    height: 15px;
    text-align: center;
    border-radius: 25px;
}

.col-sm-4{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.col-sm-6{
    text-align: center;
    margin: 0 auto;
}

.imageheader {
    text-align: justify;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    opacity: 70%;
}

.smallcol {
    width: 40%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    opacity: 100%;
}

#demo {
    margin: 0 auto;
}

#demo2 {
    margin: 0 auto;
}

#demo3 {
    margin: 0 auto;
}

img {
    width: 100%;
}

.imgstyle {
    border-radius: 10px;
}

.captionstyle {
    text-shadow: .1rem .1rem .8rem black;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .nonselect {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .gradient-text-purple {
    background: -webkit-linear-gradient(left, #4568dc  , #b06ab3);
    background: -o-linear-gradient(right, #4568dc, #b06ab3);
    background: -moz-linear-gradient(right, #4568dc, #b06ab3);
    background: linear-gradient(to right, #4568dc, #b06ab3); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   opacity: 90%;
  }
  
  .gradient-text-royal {
    background: -webkit-linear-gradient(left, #4568dc , #141e30);
    background: -o-linear-gradient(right, #4568dc, #141e30);
    background: -moz-linear-gradient(right,#4568dc, #141e30);
    background: linear-gradient(to right, #4568dc, #141e30); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   opacity: 90%;
  }

  .gradient-text-choco {
    background: -webkit-linear-gradient(left, #1e130c , #9a8478);
    background: -o-linear-gradient(right, #1e130c, #9a8478);
    background: -moz-linear-gradient(right,#1e130c, #9a8478);
    background: linear-gradient(to right, #1e130c, #9a8478); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   opacity: 90%;
  }

  .gradient-text-clouds{
    background: -webkit-linear-gradient(left, #606c88, #3f4c6b);
    background: -o-linear-gradient(right, #606c88, #3f4c6b);
    background: -moz-linear-gradient(right,#606c88, #3f4c6b);
    background: linear-gradient(to right, #606c88, #3f4c6b); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   opacity: 90%;
  }

  .gradient-text-h1{
    background: -webkit-linear-gradient(left, #E6DADA, #274046);
    background: -o-linear-gradient(right, #E6DADA, #274046);
    background: -moz-linear-gradient(right,#E6DADA, #274046);
    background: linear-gradient(to right, #E6DADA, #274046); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   opacity: 90%;
  }

  .gradient-text-green{
    background: -webkit-linear-gradient(left, rgb(49, 138, 150), #1c530b);
    background: -o-linear-gradient(right, rgb(49, 138, 150),  #1c530b);
    background: -moz-linear-gradient(right,rgb(49, 138, 150),  #1c530b);
    background: linear-gradient(to right, rgb(49, 138, 150),  #1c530b); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   opacity: 90%;
  }

  :root{
    scrollbar-color: #85b43d #2c3e50;
    scrollbar-width: thin;

  }

  @media screen and (max-width: 800px) {
    #title_message {
      visibility: hidden;
      height: 0px;
    }
  }

  .light {
    font-family: 'Nunito', sans-serif;
    text-shadow: none;
    opacity: 70%;
}

.leftcolumn {
    font-size: 30px;
}

.rightcolumn {
    text-align: left;
}

.smallcol{
    border: 0.2vw solid black;
    width: 100%;
    border-radius: 25px;
}